.board-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.board {
  display: flex;
  flex-wrap: wrap;

  height: 90%;
  width: 90%;

  background-color: $black;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px $white;

  color: $white;
  
  padding: 0;
  margin: 0;
}

.creature {
  height: 80%;
  width: 80%;  
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  resize: both;
}

.creature-face {
  margin-top: 25%;
  margin-left: 25%;

  height: 50%;
  width: 50%;
}