.board-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.board {
  display: flex;
  flex-wrap: wrap;

  height: 80%;
  width: 80%;

  background-color: $black;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px $white;

  color: $white;
  
  padding: 0;
  margin: 0;
}